<!DOCTYPE html>
<html>
<head>
	<title>CathPhrase.ly Phrases</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<!-- Underscore -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	
	<div id="container col-md-12">
		<header class="alert-success well"><h1>Get Caught Up on Your Catch-Phrases!</h1></header>
		<ul class="list-group" id="phrase-ul">

		</ul>
		<div class="row well">
			<form id="phrase-form">
				<div class="form-group">
					<label for="input_phrase" placeholder="Enter CatchPhrase">Enter CatchPhrase</label>
					<input type="text" class="form-control bottom-margin" name="word">
					<label for="input_def" placeholder="Enter Definition">Enter Definition</label>
					<input type="text" class="form-control" name="definition">
					<button type="submit" class="btn btn-primary">Submit CatchPhrase</button>
				</div>
			</form>
		</div>

	</div>

</body>
  <!-- Underscore template -->
  <script type="text/template" id="phrase-template">
    <% _.each(collection, function(item){ %>
      <li class='list-group-item'><strong><%= item.word %></strong>
        <span><em><%= item.definition %></em></span>
      </li>
    <% }); %>
  </script>
</html>
