<!DOCTYPE html>
<html>
<head>
	<title>CathPhrase.ly Phrases</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<!-- Underscore -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	
	<div id="container col-md-12">
		<header class="alert-success well"><h1>Get Caught Up on Your Catch-Phrases!</h1></header>
		<ul class="list-group" id="phrase-ul">

		</ul>

	</div>

</body>
  <!-- Underscore template -->
  <script type="text/template" id="phrase-template">
    <% _.each(collection, function(item){ %>
      <li class='list-group-item'><%= item.word %>
        <span class="label label-default"><%= item.definition %></span>
      </li>
    <% }); %>
  </script>
</html>
